/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --max-container-width: 120ch;
  color-scheme: dark light;

  --body-bg-color: light-dark(#f4f4f5, #18181b);
}

body {
  background-color: var(--body-bg-color);
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.container {
  max-width: var(--max-container-width);
  margin: 0 auto;
}
