/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --max-container-width: 120ch;
  --body-bg-color: light-dark(var(--color-zinc-50), var(--color-zinc-800));
  --text-color: light-dark(var(--color-zinc-800), var(--color-zinc-200));
  --font-size: 16px;

  color-scheme: dark light;
}

body, html {
  background-color: var(--body-bg-color);
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: var(--font-size);
  color: var(--text-color);
}

.container {
  max-width: var(--max-container-width);
  margin: 0 auto;
}

.main {

}
